.facets {
  display: block;
  margin-inline-start: var(--horizontal-padding);
  margin-inline-end: var(--horizontal-padding);
}

.facets__form--vertical .facets__heading {
  margin-bottom: 0.75rem;
}
.facets__form--vertical .facets__disclosure {
  width: 100%;
  display: inline-block;
  position: relative;
}
.facets__form--vertical .facets__disclosure:not(:first-child) {
  margin-top: 2.5rem;
}
.facets__form--vertical.facets__form--mobile {
  margin-bottom: 2rem;
}
.facets__form--vertical.facets__form--mobile .facets__disclosure:not(:first-child) {
  margin-top: 1.5rem;
}
.facets__form--vertical .facets__summary-text {
  padding-bottom: 0.625rem;
  display: inline-block;
}
.facets__form--vertical .facets__and-helper-text {
  margin: -0.375rem 0 0.375rem;
}
.facets__form--vertical .facets__header {
  border-bottom: 1px solid var(--color-borders-forms-primary);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.facets__form--vertical .facets__header a {
  display: inline-block;
  text-decoration: underline;
}
.facets__form--vertical .facets__list {
  list-style: none;
  margin: 0;
}
.facets__form--vertical .facets__item {
  padding: 0.4375rem 0;
}
.facets__form--vertical .facets__item label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.875rem;
  width: 100%;
  cursor: pointer;
}
.facets__form--vertical .facets__item label.facet-checkbox--disabled {
  opacity: 0.24;
  pointer-events: none;
}
.facets__form--vertical .facets__item input[type=checkbox] {
  cursor: pointer;
}
.facets__form--vertical .facets__item--swatch .swatch {
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
html[dir=rtl] .facets__form--vertical .facets__item--swatch .swatch {
  right: 0.0625rem;
}
html[dir=ltr] .facets__form--vertical .facets__item--swatch .swatch {
  left: 0.0625rem;
}
.facets__form--vertical .facets__item--swatch input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.no-touchevents .facets__form--vertical .facets__item--swatch input[type=checkbox]:hover + .swatch {
  box-shadow: 0 0 0px 0.0625rem var(--color-borders-forms-secondary);
}
.facets__form--vertical .facets__item--swatch input[type=checkbox]:checked + .swatch {
  box-shadow: 0 0 0px 0.0625rem var(--color-text-main) !important;
}
.facets__form--vertical .facets__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.facets__form--vertical .facets__price .field {
  border: var(--border-width-forms) solid var(--color-borders-forms-primary);
  border-radius: var(--border-radius-forms);
  position: relative;
  width: 100%;
}
.facets__form--vertical .facets__price .field__currency {
  position: absolute;
  opacity: 0.36;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.125rem;
}
html[dir=rtl] .facets__form--vertical .facets__price .field__currency {
  right: 0.75rem;
}
html[dir=ltr] .facets__form--vertical .facets__price .field__currency {
  left: 0.75rem;
}
.facets__form--vertical .facets__price .field__label {
  text-transform: lowercase;
}
.facets__form--vertical .facets__price input {
  width: 100%;
  height: 2rem;
  padding-inline-start: 2.5rem;
  border: none;
}
html[dir=rtl] .facets__form--vertical .facets__price input {
  text-align: left;
}
html[dir=ltr] .facets__form--vertical .facets__price input {
  text-align: right;
}
.facets__form--vertical .collection-filters__item.sorting {
  margin-bottom: 2.5rem;
}

.range-slider {
  margin-top: var(--gutter-regular);
}

.collection-filters__item select {
  width: 100%;
}
.collection-filters__label {
  margin-bottom: 0.75rem;
  display: block;
}

.active-facets {
  margin: 0;
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.facets__form--vertical .active-facets {
  margin-top: var(--gutter-regular);
}
.sidebar .facets__form--vertical .active-facets {
  margin-top: 0;
  margin-bottom: 2.5rem;
  border-top: 1px solid var(--color-borders-main);
  border-bottom: 1px solid var(--color-borders-main);
  padding: 1.25rem 0 1.5rem;
}
.active-facets__button {
  position: relative;
}
.active-facets__button--light {
  padding-inline-end: 2.5rem;
}
.active-facets__button svg {
  top: 50%;
  width: 1.875rem;
  height: 1.875rem;
  transform: translateY(-50%);
  position: absolute;
  pointer-events: none;
}
html[dir=rtl] .active-facets__button svg {
  left: 0.5rem;
}
html[dir=ltr] .active-facets__button svg {
  right: 0.5rem;
}
.active-facets__button svg * {
  transition: all 100ms linear;
  fill: var(--color-text-main);
}
.no-touchevents .active-facets__button:hover svg * {
  fill: var(--color-foreground-main);
  stroke: none;
}
.active-facets:empty {
  display: none;
}
.active-facets__title {
  font-size: calc(15px / 16 * var(--base-body-primary-size) + 0px);
  padding-top: 0.375rem;
  line-height: 1;
  order: -1;
}