.site-header {
  background: var(--color-background-header);
  color: var(--color-text-header);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;
  padding-top: calc(var(--header-vertical-space) / 2);
}
@media screen and (max-width: 1023px) {
  .site-header {
    padding-top: 0;
  }
}
.site-header--border:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: calc(var(--theme-max-width) - var(--gutter-container) * 2);
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-borders-header);
  transition: all 175ms linear;
}
.html-password .site-header--border:after {
  background: var(--color-borders-main);
}
.site-header.site-header--absolute {
  position: absolute;
  width: 100%;
  background: transparent;
  transition: background 175ms linear;
}
.site-header.site-header--absolute .header-container {
  background: transparent;
}
.site-header.site-header--absolute:not(.site-header--absolute-show-border):after, .site-header.site-header--absolute:not(.site-header--absolute-show-border) .header__bottom--border:before {
  visibility: hidden;
  opacity: 0;
}
.site-header.site-header--absolute .logo-txt {
  transition: all 175ms linear;
}
.site-header.site-header--absolute .absolute-header-icon {
  position: absolute;
  opacity: 0;
  transition: opacity 175ms linear;
}
.site-header.site-header--absolute .absolute-header-icon + img {
  transition: opacity 175ms linear;
}
@media screen and (min-width: 1024px) {
  .site-header.site-header--absolute:hover {
    background: var(--color-background-header);
  }
  .site-header.site-header--absolute:hover .logo-txt {
    color: var(--color-text-header) !important;
  }
  .site-header.site-header--absolute:hover:after, .site-header.site-header--absolute:hover .header__bottom--border:before {
    visibility: visible;
    opacity: 1;
    background: var(--color-borders-header) !important;
  }
  .site-header.site-header--absolute:hover .absolute-header-icon {
    opacity: 1;
  }
  .site-header.site-header--absolute:hover .absolute-header-icon + img {
    opacity: 0;
  }
}
.site-header .button__icon:not(.button__icon--special) svg path,
.site-header .button__icon:not(.button__icon--special) svg circle {
  fill: var(--color-text-header);
  stroke: var(--color-text-header);
}
.site-header .button__icon--special {
  transition: none !important;
}
.site-header .button__icon--special svg * {
  stroke: var(--color-text-header);
  stroke-width: 0.25rem;
}
.site-header .logo img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.site-header .logo-img {
  display: inline-flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .site-header .logo-img--desk-only {
    display: none;
  }
}
.site-header .logo-img--mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .site-header .logo-img--mobile {
    display: block;
  }
}
.site-header .logo-txt {
  font-family: var(--font-stack-body-primary);
  font-weight: var(--font-weight-body-primary);
  font-style: var(--font-style-body-primary);
  margin: 0;
  word-break: break-word;
  color: var(--color-text-header);
  line-height: 1;
}
@media screen and (max-width: 474px) {
  .site-header .logo-txt {
    font-size: calc(
				20px / 16 * var(--base-body-primary-size) + 0px
			);
  }
}
@media screen and (min-width: 475px) and (max-width: 1023px) {
  .site-header .logo-txt {
    font-size: calc(
					22px / 16 * var(--base-body-primary-size) + 0px
				);
  }
}
@media screen and (min-width: 1024px) {
  .site-header .logo-txt {
    font-size: calc(
				24px / 16 * var(--base-body-primary-size) + 0px
			);
  }
}
@media screen and (max-width: 767px) {
  .site-header .logo-txt--desk-only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-header .logo-txt--mobile-only {
    display: none;
  }
}
.site-header .logo-txt--hidden {
  display: none;
}
.site-header h1 {
  margin-bottom: 0;
  line-height: 0;
  font-size: 0;
}
.site-header a {
  color: var(--color-text-header);
}

.header-container {
  position: relative;
  font-size: calc(16px / 16px * 16px + 0px);
  font-weight: var(--font-weight-menu);
}
.header-container .button {
  border-width: 1px;
  color: var(--color-text-header);
}
.header-container .button--solid {
  background-color: var(--color-text-header);
  border-color: var(--color-text-header);
  color: var(--color-foreground-header);
}
.no-touchevents .header-container .button:not(.button--outline-hover):hover {
  background-color: var(--color-text-header);
  border-color: var(--color-text-header);
  color: var(--color-foreground-header);
}
.no-touchevents .header-container .button:not(.button--outline-hover):hover svg * {
  stroke: var(--color-foreground-header);
}
.no-touchevents .header-container .button--outline-hover:not(.button--no-hover):hover {
  border-color: var(--color-text-header);
}
.no-touchevents .header-container .button--outline-hover:not(.button--no-hover):hover span {
  color: var(--color-text-header);
}
.no-touchevents .header-container .button--outline-hover:not(.button--no-hover):hover svg * {
  stroke: var(--color-text-header);
}
.site-header-container .header-container .button--icon.button--outline svg * {
  fill: var(--color-text-header);
  stroke: none !important;
}
.site-header-container .header-container .button--icon.button--solid svg * {
  fill: var(--color-foreground-header);
}
.header-container--top {
  z-index: 11;
  border-bottom: 0;
}
.header-container--bottom {
  z-index: 10;
}

.search-active .sticky-header {
  display: none;
}

.header__top {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  display: grid;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header__top.active .area--cart,
.header__top.active .area--custom-icon,
.header__top.active .area--logo,
.header__top.active .area--menu {
    opacity: 0;
  }
  .header__top .area--menu {
    margin-right: -0.625rem;
  }
}
@media screen and (max-width: 474px) {
  .header__top {
    gap: 0.9375rem;
  }
  .header__top .area--cart {
    margin-right: 0.3125rem;
  }
  .header__top .area--menu {
    margin-right: -0.3125rem;
  }
}
.header__top--logo-center {
  grid-template-columns: repeat(2, minmax(max-content, 25px)) auto repeat(2, minmax(max-content, 25px));
  grid-template-areas: "search custom-icon logo account cart";
}
@media screen and (max-width: 1023px) {
  .header__top--logo-center {
    grid-template-columns: repeat(2, minmax(max-content, 25px)) auto repeat(2, minmax(max-content, 25px));
    grid-template-areas: "search custom-icon logo cart menu";
  }
}
.header__top--logo-center.no-custom-link {
  grid-template-columns: minmax(max-content, 25px) auto repeat(2, minmax(max-content, 25px));
  grid-template-areas: "search logo account cart";
}
@media screen and (max-width: 1023px) {
  .header__top--logo-center.no-custom-link {
    grid-template-columns: minmax(max-content, 25px) auto repeat(2, minmax(max-content, 25px));
    grid-template-areas: "search logo cart menu";
  }
}
.header__top--logo-center .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header__top--logo-center .area--logo {
  grid-area: none !important;
  justify-self: center !important;
}
.header__top .area--logo {
  grid-area: logo;
  justify-self: start;
  display: flex;
}
.header__top .area--search {
  grid-area: search;
}
.header__top .area--account {
  grid-area: account;
  justify-self: end;
}
@media screen and (max-width: 1023px) {
  .header__top .area--account {
    display: none;
  }
}
.header__top .area--custom-icon {
  grid-area: custom-icon;
  justify-self: end;
}
.header__top .area--cart {
  grid-area: cart;
  justify-self: end;
}
.header__top .area--cart .button__icon {
  margin-inline-end: 0.3125rem;
}
.header__top .area--menu {
  grid-area: menu;
  justify-self: end;
}

.icon-button {
  position: relative;
  display: inline-block;
  z-index: 11;
  height: 25px;
  z-index: 99;
  cursor: pointer;
}
.icon-button--text-inline {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
.icon-button--text-inline .icon-button__text {
  font-weight: var(--font-weight-body-primary);
}
html[lang=ko] .icon-button--text-inline .icon-button__text, html[lang=ja] .icon-button--text-inline .icon-button__text {
  writing-mode: vertical-lr;
}
@media screen and (max-width: 1023px) {
  .icon-button--text-inline .icon-button__text {
    display: none;
  }
}
.icon-button--text-inline .icon-button__text.text-animation--underline-in-header {
  background-image: linear-gradient(to right, var(--color-text-header), var(--color-text-header));
  margin-top: 0.1875rem;
}
.no-touchevents .icon-button--text-inline:hover .text-animation--underline-in-header {
  background-size: 100% 1px;
}
.icon-button--text-tooltip {
  position: relative;
  z-index: 11;
}
.icon-button--text-tooltip .icon-button__text {
  font-size: calc(11px / 16 * var(--base-body-primary-size) + 0px);
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -10px);
  background: var(--color-text-header);
  color: var(--color-foreground-header);
  padding: 0 0.25rem;
  margin-top: -0.125rem;
  border-radius: clamp(0px, var(--border-radius-buttons), 3px);
  font-weight: var(--font-weight-body-primary);
  transition: all 250ms ease;
}
.search-active .icon-button--text-tooltip .icon-button__text {
  visibility: hidden;
  transition: all 0ms;
}
@media screen and (max-width: 1023px) {
  .icon-button--text-tooltip .icon-button__text {
    display: none;
  }
}
.icon-button--text-tooltip .icon-button__text:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: var(--color-text-header);
  border-width: 0.3125rem;
  margin-inline-start: -0.3125rem;
}
.no-touchevents .icon-button--text-tooltip:hover .icon-button__text {
  transform: translate(-50%, 0px);
  opacity: 1;
}
.icon-button__label {
  font-size: 0.625rem;
  font-weight: var(--font-weight-body-primary);
  position: absolute;
  top: 0;
  left: 12.5px;
  background-color: var(--color-text-header);
  z-index: 9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--color-foreground-header);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -35%);
  transition: all 175ms linear;
}
html[dir=rtl] .icon-button__label {
  right: -12.5px;
}
.icon-button .button__icon {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  position: relative;
  z-index: 100;
  font-size: 0;
  transition: all ease 550ms;
  cursor: pointer;
}
html[dir=rtl] .icon-button .button__icon {
  right: 0;
}
html[dir=ltr] .icon-button .button__icon {
  left: 0;
}
.icon-button .button__icon:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-button .button__icon svg {
  width: 25px;
  height: 25px;
}
.icon-button .button__icon svg * {
  transition: all 175ms linear;
}
.icon-button .button__icon img {
  max-width: 100%;
  max-height: 100%;
}

.header__bottom {
  padding-bottom: calc(var(--header-vertical-space) / 2);
}
.header__bottom--border {
  padding-top: calc(var(--header-vertical-space) / 2);
}
.header__bottom--border:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: calc(var(--theme-max-width) - var(--gutter-container) * 2);
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-borders-header);
  transition: all 175ms linear;
}
.html-password .header__bottom--border:before {
  background: var(--color-borders-main);
}
.show .header__bottom {
  padding-top: calc(var(--header-vertical-space) / 2);
}
.header__bottom .site-menu-handle {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.header__bottom.show-mobile-menu .site-menu-handle {
  visibility: visible;
  pointer-events: all;
}
.header__bottom.show-mobile-menu .site-nav.style--classic {
  visibility: hidden;
  pointer-events: none;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

search-form {
  display: block;
  position: relative;
}

.site-nav:focus {
  outline: none;
}
.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-nav a {
  display: inline-block;
}
.site-nav .icon {
  margin-inline-start: 0.625rem;
}
.site-nav.style--classic .icon {
  display: flex;
}
.site-nav.style--classic {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--color-text-header);
}
.site-header--alignment-left .site-nav.style--classic {
  justify-content: start;
}
.site-nav.style--classic .icon svg * {
  fill: var(--color-text-header);
  transition: all 175ms linear;
}
.site-nav.style--classic a {
  color: var(--color-text-header);
}
.no-touchevents .site-nav.style--classic a:hover span:not(.pps) {
  color: var(--color-text-header);
}
.no-touchevents .site-nav.style--classic a:hover span:not(.pps) + .icon svg * {
  fill: var(--color-text-header);
}
.site-nav.style--classic nav > ul {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: -1.25rem;
}
@media screen and (max-width: 1920px) {
  .site-nav.style--classic nav > ul {
    margin-inline-start: -0.625rem;
  }
}
@media screen and (min-width: 1281px) {
  .site-header--alignment-left .site-nav.style--classic nav > ul {
    margin-inline-start: -1.25rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .site-header--alignment-left .site-nav.style--classic nav > ul {
    margin-inline-start: -0.9375rem;
  }
}
.site-nav.style--classic nav > ul > li {
  flex-shrink: 0;
}
.site-nav.style--classic nav > ul > li > .menu-link {
  outline-offset: -0.3125rem;
}
.site-nav.style--classic li {
  display: inline-block;
  margin: 0;
}
.site-nav.style--classic .menu-link {
  line-height: 1;
  color: var(--color-text-header);
  position: relative;
  padding: 0.9375rem 1.25rem;
  cursor: pointer;
  z-index: 9;
  display: inline-flex;
}
.site-nav.style--classic .menu-link--is-icon {
  position: relative;
  padding: 0.8125rem 1.25rem !important;
  width: 3.4375rem;
}
.site-nav.style--classic .menu-link--is-icon svg {
  width: 1.125rem;
  height: 1.125rem;
}
@media screen and (max-width: 1280px) {
  .site-nav.style--classic .menu-link {
    padding: 0.9375rem 0.9375rem;
  }
}
.site-nav.style--classic .menu-link:not(.menu-link--is-icon) {
  align-items: center;
}
.site-nav.style--classic .submenu {
  background: transparent;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms linear 40ms, visibility 100ms linear 40ms;
  padding-top: calc(var(--header-vertical-space) / 2);
  margin-top: -0.0625rem;
  z-index: 10;
}
.site-nav.style--classic .submenu .submenu-holder {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: 80ms linear;
  z-index: 1;
  position: relative;
}
.site-nav.style--classic .submenu:after {
  content: "";
  position: absolute;
  top: calc(var(--header-vertical-space) / 2 + 1px);
  width: 100%;
  height: 0;
  background: var(--color-background-header);
  z-index: 0;
  transition: height 100ms ease-in-out 40ms;
}
html[dir=rtl] .site-nav.style--classic .submenu:after {
  right: 0;
}
html[dir=ltr] .site-nav.style--classic .submenu:after {
  left: 0;
}
.site-nav.style--classic .submenu.normal-menu:after, .site-nav.style--classic .submenu.normal-menu .babymenu {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px -1px, rgba(0, 0, 0, 0.15) 0px 2px 6px -2px, rgba(0, 0, 0, 0.1) 0px 11px 28px -4px;
}
.site-nav.style--classic .submenu.mega-menu:after {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px -1px, rgba(0, 0, 0, 0.15) 0px 2px 6px -2px, rgba(0, 0, 0, 0.1) 0px 11px 28px -4px;
  clip-path: polygon(0 0%, 100% 0%, 100% calc(100% + 40px), 0% calc(100% + 40px));
}
.no-touchevents .site-nav.style--classic .has-submenu:hover .submenu,
.site-nav.style--classic .has-submenu.focus .submenu,
.site-nav.style--classic .submenu-is-mega-menu.focus .submenu {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transition: opacity 10ms linear, visibility 10ms linear;
}
.no-touchevents .site-nav.style--classic .has-submenu:hover .submenu:after,
.site-nav.style--classic .has-submenu.focus .submenu:after,
.site-nav.style--classic .submenu-is-mega-menu.focus .submenu:after {
  height: calc(100% - (var(--header-vertical-space) / 2));
  transition: height 140ms ease-in-out;
}
.no-touchevents .site-nav.style--classic .has-submenu:hover .submenu .submenu-holder,
.site-nav.style--classic .has-submenu.focus .submenu .submenu-holder,
.site-nav.style--classic .submenu-is-mega-menu.focus .submenu .submenu-holder {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 120ms linear 80ms;
}
.site-nav.style--classic .submenu.normal-menu {
  margin-inline-start: -0.625rem;
  width: max-content;
  min-width: 9.375rem;
  max-width: 22.5rem;
}
.site-nav.style--classic .submenu.normal-menu .submenu-holder {
  padding: 1.25rem 0;
  min-width: 9.375rem;
  margin-top: -1px;
}
.site-nav.style--classic .submenu.normal-menu .submenu-holder > li {
  display: block;
  position: relative;
}
.site-nav.style--classic .submenu.normal-menu .submenu-holder .menu-link {
  padding: 0.625rem 1.875rem;
}
.site-nav.style--classic .submenu.normal-menu .submenu-holder .icon {
  position: relative;
  transform: rotate(-90deg);
  display: inline-block;
}
.site-nav.style--classic .submenu.normal-menu .submenu-holder .icon svg {
  transform: scale(0.95);
}
.site-nav.style--classic .submenu.normal-menu .babymenu {
  position: absolute;
  display: block;
  top: -1.25rem;
  background: var(--color-background-header);
  width: max-content;
  min-width: 9.375rem;
  max-width: 22.5rem;
  padding: 1.1875rem 0;
  opacity: 0;
  margin-inline-start: -1px;
  margin-top: 0;
  visibility: hidden;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 101%);
  transition: opacity 100ms linear 40ms, visibility 100ms linear 40ms, clip-path 100ms ease-in-out 40ms;
}
html[dir=rtl] .site-nav.style--classic .submenu.normal-menu .babymenu {
  right: 100%;
}
html[dir=ltr] .site-nav.style--classic .submenu.normal-menu .babymenu {
  left: 100%;
}
html[dir=rtl] .site-nav.style--classic .submenu.normal-menu .babymenu {
  border-right: 1px solid var(--color-borders-header);
}
html[dir=ltr] .site-nav.style--classic .submenu.normal-menu .babymenu {
  border-left: 1px solid var(--color-borders-header);
}
.site-nav.style--classic .submenu.normal-menu .babymenu li {
  opacity: 0;
  transform: translateY(5px);
  transition: 80ms linear;
}
.site-nav.style--classic .submenu.normal-menu .babymenu span {
  position: relative;
  top: -1px;
}
.no-touchevents .site-nav.style--classic .submenu.normal-menu .has-babymenu:hover .babymenu,
.site-nav.style--classic .submenu.normal-menu .has-babymenu.focus .babymenu {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  clip-path: polygon(-20px 0, calc(100% + 20px) 0px, calc(100% + 20px) calc(100% + 20px), -20px calc(100% + 20px));
  transition: opacity 10ms linear, visibility 10ms linear, clip-path 140ms ease-in-out;
}
.no-touchevents .site-nav.style--classic .submenu.normal-menu .has-babymenu:hover .babymenu li,
.site-nav.style--classic .submenu.normal-menu .has-babymenu.focus .babymenu li {
  opacity: 1;
  transform: translateY(0);
  transition: 120ms linear 80ms;
}
.site-nav.style--classic .submenu.normal-menu .babymenu-faux {
  display: none;
}
.site-nav.style--classic .submenu.normal-menu .has-babymenu a {
  display: flex;
}
.site-nav.style--classic .submenu.mega-menu {
  width: 100%;
  padding: calc(var(--header-vertical-space) * 2) 0 calc(var(--header-vertical-space) * 3);
  display: none;
}
html[dir=rtl] .site-nav.style--classic .submenu.mega-menu {
  right: 0;
}
html[dir=ltr] .site-nav.style--classic .submenu.mega-menu {
  left: 0;
}
body.header-loaded .site-nav.style--classic .submenu.mega-menu {
  display: flex;
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry {
  display: grid;
  grid-gap: 1.875rem;
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.column-size--fourth {
  grid-template-columns: repeat(3, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.column-size--fourth.column-size--both {
  grid-template-columns: repeat(2, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.column-size--third {
  grid-template-columns: repeat(2, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.column-size--third.column-size--both {
  grid-template-columns: repeat(1, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.without-promotion.column-size--fourth {
  grid-template-columns: repeat(4, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry.without-promotion.column-size--third {
  grid-template-columns: repeat(3, 1fr);
}
.site-nav.style--classic .submenu.mega-menu .submenu-masonry > .mega-link > .menu-link,
.site-nav.style--classic .submenu.mega-menu .mega-link.has-promotion > .menu-link {
  margin-bottom: 0.9375rem;
  display: block;
}
.site-nav.style--classic .submenu.mega-menu .mega-link.has-promotion {
  padding: 0 !important;
  width: 100%;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder {
  display: grid;
  grid-gap: 1.875rem;
  width: 100%;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder--promotion-width-fourth {
  grid-template-columns: 3fr 1fr;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder--promotion-width-fourth.submenu-holder--promotion-both {
  grid-template-columns: 2fr 1fr 1fr;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder--promotion-width-third {
  grid-template-columns: 2fr 1fr;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder--promotion-width-third.submenu-holder--promotion-both {
  grid-template-columns: 1fr 1fr 1fr;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder:not(.container--large) {
  margin-bottom: -1.875rem;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder .mega-link {
  padding: 0;
  position: relative;
}
.site-nav.style--classic .submenu.mega-menu .submenu-holder .mega-link > .menu-link {
  padding: 0;
  margin: 0;
}
.site-nav.style--classic .submenu.mega-menu .icon {
  display: none;
}
.site-nav.style--classic .submenu.mega-menu .menu-link {
  line-height: 1;
  font-weight: var(--font-weight-body-primary-bold);
  text-transform: none;
  padding: 0;
}
.site-nav.style--classic .submenu.mega-menu .babymenu {
  margin-top: 0.5rem;
}
.site-nav.style--classic .submenu.mega-menu .babymenu li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.site-nav.style--classic .submenu.mega-menu .babymenu .menu-link {
  font-weight: var(--font-weight-body-primary);
  padding: 6px 10px;
  margin-inline-start: -10px;
  line-height: 1.2;
}
.site-nav.style--classic .submenu.mega-menu .has-babymenu > .menu-link {
  color: var(--color-text-header) !important;
}
.site-nav.style--classic .babymenu li {
  display: block;
  margin: 0;
  line-height: 1;
}
.site-nav.style--classic .babymenu .menu-link {
  padding: 0;
}

.menu-promotion {
  width: 100%;
  position: relative;
  font-weight: var(--font-weight-body-primary);
}
html[dir=rtl] .menu-promotion {
  text-align: right;
}
html[dir=ltr] .menu-promotion {
  text-align: left;
}
.menu-promotion-background-image {
  width: 100%;
  height: auto;
}
.menu-promotion-background-image svg {
  padding-top: 100%;
}
.menu-promotion a.menu-promotion-background-image {
  overflow: hidden;
}
.menu-promotion a.menu-promotion-background-image img {
  transition: opacity 350ms, transform 175ms linear !important;
}
.no-touchevents .menu-promotion a.menu-promotion-background-image:hover img {
  transform: scale(1.05);
}
.no-touchevents .menu-promotion .rte a:hover {
  color: var(--color-text-header);
}

.header-container.fix {
  position: fixed;
  padding: 0;
  top: 0 !important;
  transform: translateY(-100%);
  transition: none !important;
  width: 100%;
  background: var(--color-background-header);
}
.header-container.fix.ready {
  transition: left 500ms ease-in-out, transform 100ms linear !important;
}
@media screen and (max-width: 767px) {
  .header-container.fix.ready {
    transition: left 300ms ease-in-out, transform 100ms linear !important;
  }
}
.header-container.fix.animate {
  transform: translateY(0);
}
.header-container.fix .logo-img {
  max-height: 40px !important;
}
.header-container.fix .header__top {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  --header-logo: 20px;
}

@media screen and (max-width: 1023px) {
  .site-header .mobile-menu-button {
    order: 0;
    margin-inline-start: -0.625rem;
  }
  .site-header .mobile-menu-button svg path {
    fill: var(--color-text-header);
  }
  .site-header .logo {
    order: 1;
    flex: auto;
    text-align: center;
    justify-content: center;
  }
  .site-header.site-header--alignment-left .logo,
.site-header .header__top--logo-left .logo {
    text-align: left;
  }
  .site-header .mobile-menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .hide-border-on-portable {
    border-bottom: 0;
  }
  .no-header-blocks {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-header .mobile-menu-button {
    order: 0;
    margin-inline-start: -0.625rem;
  }
  .site-header .mobile-menu-button svg path {
    fill: var(--color-text-header);
  }
  .site-header .logo {
    order: 1;
    flex: auto;
    text-align: center;
    justify-content: center;
  }
  .site-header .mobile-menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .hide-border-on-lap {
    border-bottom: 0;
  }
  .no-header-blocks {
    display: none;
  }
}
.button--solid .circle {
  fill: var(--color-foreground-header);
}

.no-touchevents .button--solid:hover .circle {
  fill: var(--color-foreground-header);
}

@media screen and (max-width: 1023px) {
  .header-container--top {
    order: 0;
  }
}
.sticky-header {
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-background-header);
  color: var(--color-text-header);
  z-index: 999;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}
html[dir=rtl] .sticky-header {
  right: 0;
}
html[dir=ltr] .sticky-header {
  left: 0;
}
@media screen and (max-width: 1023px) {
  .sticky-header {
    padding-top: 0;
  }
}
.sticky-header .site-nav.style--classic {
  justify-content: flex-start;
}
.sticky-header.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms linear;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.06);
  border-bottom: none;
}
.sticky-header .header__bottom {
  border-bottom: 0;
  position: initial;
  min-height: 5.3125rem;
}
.sticky-header .header__top {
  display: none;
}
@media screen and (max-width: 1023px) {
  .sticky-header .header__top {
    display: grid;
  }
}
.sticky-header .header__top img + img {
  display: none;
}
.sticky-header .icon-button__text {
  display: none;
}
.sticky-header .submenu {
  margin-top: 0 !important;
}
.sticky-header .submenu.mega-menu {
  margin-inline-start: 0 !important;
}

.mega-menu__footer {
  width: 100%;
  padding-top: var(--gutter-regular);
}
.mega-menu .product-price {
  font-weight: var(--font-weight-body-primary);
}

.site-header--password {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: row;
}
.site-header--password .logo-img {
  display: block;
}
@media screen and (max-width: 767px) {
  .site-header--password {
    flex-direction: column;
    align-items: center;
  }
}

.modal-login-cta {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  line-height: 1;
  justify-self: end;
}
@media screen and (max-width: 767px) {
  .modal-login-cta {
    margin-top: var(--gutter-regular);
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
}