<product-recommendations class="product-recommendations"  id="cart-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ cart.items[0].product_id }}&limit=4">

  {%- if recommendations.performed and recommendations.products_count > 0 -%}

    <div class="container--large container--vertical-space{% if section.settings.gutter_decrease %}-small{% endif %} remove-empty-space">

        {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_size: section.settings.section_heading_size, section_layout: section.settings.section_heading_layout, seo_h_tag: 'span' -%}

      <div class="grid grid--layout grid-4 grid-portable-3 grid-lap-2 grid-tiny-1">
        {%- liquid
          for recommendation in recommendations.products
            render 'product-item', product: recommendation, section_blocks: section.blocks, index: forloop.index, layout: 'grid-4'
          endfor
        -%}
      </div>

    </div>

  {%- endif -%}
  
</product-recommendations>

{% schema %}
  {
    "name": "t:sections.bundle-extra-words.sections.main-cart-page.cart-recommendations.name",
    "blocks": [
      {
        "type": "price",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.price",
        "limit": 1
      },
      {
        "type": "title",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.title",
        "limit": 1
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "excerpt_limit",
            "label": "t:sections.local-extra-words.sections.blog-posts.blocks.summary.settings.excerpt_limit",
            "info": "t:sections.bundle-extra-words.sections.products_set.blocks.description.info",
            "default": 15,
            "step": 1,
            "min": 5,
            "max": 40
          },
          {
            "type": "checkbox",
            "id": "show_link",
            "label": "t:sections.bundle-extra-words.sections.products_set.blocks.description.link",
            "default": true
          }
        ]
      },
      {
        "type": "vendor",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.vendor",
        "limit": 1
      },
      {
        "type": "rating",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.rating",
        "limit": 1
      },
      {
        "type": "icons",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.icons.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.help"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "metafield",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.text.label",
            "info": "t:sections.local-extra-words.sections.product-card.blocks.text.info",
            "default": "custom.product_text"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.color.label",
            "options": [
              {
                "value": "",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.text.settings.text_color.option__1"
              },
              {
                "value": "text-color--opacity",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.text.settings.text_color.option__2"
              }
            ],
            "default": "text-color--opacity"
          },
          {
            "type": "checkbox",
            "id": "text_transform",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.transform.label",
            "default": false
          }
        ]
      },
      {
        "type": "quick_buy",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.quick_buy",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_only_available",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.show_only_available.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "variant_default",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.label",
            "info": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.info",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.show_price.label",
            "default": true
          },
          { 
            "type": "select",
            "id": "unavailable_variants",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.label",
            "options": [
              {
                "value": "disable",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_2"
              },
              {
                "value": "hide",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_1"
              },
              {
                "value": "show",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_3"
              }
            ],
            "default": "hide"
          }
        ]
      },
      {
        "type": "product_link",
        "name": "t:sections.bundle-extra-words.sections.product_grid.blocks.product_link.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.product_link.settings.button_label.label",
            "default": "View product"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.name"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Recommendations"
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "You may also <strong>like</strong> these products"
      },
      {
        "type": "select",
        "id": "section_heading_size",
        "label": "t:sections.bundle-extra-words.sections.headings.size.label",
        "options": [
          {
            "value": "text-size--regular",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_1"
          },
          {
            "value": "text-size--large",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_2"
          }
        ],
        "default": "text-size--large"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.bundle-extra-words.sections.headings.alignment.label",
        "options": [
          {
            "value": "section-heading--left section-heading--one-row",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_1"
          },
          {
            "value": "section-heading--left section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          },
          {
            "value": "section-heading--center section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_2",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          }
        ],
        "default": "section-heading--left section-heading--two-rows"
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
      },
      {
        "type": "checkbox",
        "id": "gutter_decrease",
        "label": "t:sections.bundle-extra-words.sections.headings.gutter.content",
        "default": false
      }
    ]
  }
{% endschema %}